body {
  background-image: url("../images/home.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
}

.navbar {
  background-color: transparent !important;
}

.nav-footer {
  background-color: transparent !important;
}